

.container{
    
   margin: 0;
    width: 100%;
    
    height: 100%;
}

.container-titulo{
   position: relative;
   
   top: 3em;
   left: 200px;
    color: #7FC8A9;
    font-weight: bold;
    
    
    font-size: 70px;
}

.container-titulo{
    position: relative;
    
    top: 3em;
    left: 200px;
     color: #7FC8A9;
     font-weight: bold;
     
     
     font-size: 70px;
 }
 
 
.icono{
    color:#000;
}

.container-p{
    position: relative;
   
   top: 15em;
   left: 200px;
    color: #7FC8A9;
    font-weight: bold;

    width: 600px;
    height: 200px;
}

.imagen{
    position: absolute;
    top: 40px;
    right: 60px; 
    width: 100%px;
    height: 9000px;
    
    
}

